<section id="header" class="site header max-body-width">
    <div class="header wrap"><span class="header left-side"><a class="site home" href="{{- `/` | relLangURL -}}">
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}}
                <span class="site name">{{- site.Title | safeHTML -}}</span></a></span>
        <span class="header right-side">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span></div>
    {{- with site.Params.slogan -}}
        <!-- <div class="site slogan"><span class="title">{{- . | safeHTML -}}</span></div> -->
        <div class="site slogan"><span class="title"></span></div>
    {{- end -}}
</section>

<script>
    // 添加打字机功能
    var typed = new Typed('.title', {
      strings: ["唯书与爱，不可辜负。"], //输入内容, 支持html标签
      typeSpeed: 80, //打字速度
      backSpeed: 50 //回退速度
    });
</script>