{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav wrap">
    <nav class="nav">
    {{- if $nav.showCategories -}}
        <a class="nav item" href="{{- `/categories/` | relLangURL -}}">
            <i class="fas fa-align-left"></i> 分类
        </a>
    {{- end -}}
    {{- if $nav.showTags -}}
        <a class="nav item" href="{{- `/tags/` | relLangURL -}}">
            <i class="fas fa-tags"></i> 标签
        </a>
    {{- end -}}
    {{- range $nav.custom -}}
        {{- $url := .url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <a class="nav item" href="{{- $url -}}" 
            {{- if strings.HasPrefix $url "http" -}}target="_blank"
            {{- end -}}>
            
            <!-- 根据页面标题使用不同图标 -->
            {{- if (eq .title "个人项目")}}
            <i class="fas fa-cubes"></i>&nbsp;
            {{- .title -}}
            {{- end -}}
            
            {{- if (eq .title "关于")}}
            <i class="fas fa-feather-alt"></i>&nbsp;
            {{- .title -}}
            {{- end -}}

        </a>
    {{- end -}}
    <button class="nav item">
        <i class="fas fa-search"></i> 搜索
    </button>
    </nav>
</div>
{{- end -}}
